.footer {
  margin: 60px 50px 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #fff;
}

.footer p span {
  color: #ea5184;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
